<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login/SignIn</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="w-100 dashboard-nav">
        <div class="container">
            <div class="d-flex flex-row align-items-center">
                <p class="dashboard-heading mb-1">Dashboard - Auth App</p>
                <form action="/logout" method="POST" class="ms-auto">
                    <button type="submit"
                        class="text-decoration-none logout-btn text-white ms-auto dashboard-logout">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-lg pt-5">
        <p class="heading">Welcome to Auth App!!</p>
        <p class="text-primary">Name:- <%= fname %>
        </p>
        <p class="text-danger">Email:- <%= uname %>
        </p>
    </div>
    <!-- Scripts -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>