<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login/SignIn</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container-lg" id="main-home">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-4 col-md-8 col-9">
                <div class="d-sm-flex flex-column">
                    <p class="heading text-center mb-4">Auth App</p>
                    <div class="d-flex flex-row">
                        <a href="/login" class="auth-btn text-decoration-none w-100">Login</a>
                        <a href="/register" class="auth-btn text-decoration-none w-100 ms-4">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>